* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
	font-family: 'Dancing Script', cursive;
	font-size: 1em;
	background-color: #02010a;
	margin: 0 auto;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	width: auto;
}

#contenido{
	max-width: 1200px;
	margin: 0 auto;
}

/* encabezado */
#encabezado {
  max-width: 1200px;
  margin: 0 auto;
}

#encabezado header{
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 100px;
  	top: 0;
  	left: 0;
	color: white;
	animation: slidein 1s;
}

#encabezado header h1{
	text-transform: capitalize;
	text-shadow: 0 0 2px #5b7989;
	padding: 2%;
	float: left;
}

#encabezado header nav{
	font-size: 1.143em;
	padding: 2%;
	text-align: right;
	word-spacing: 1.5em;
	float: right;
}

#encabezado header nav a, #imagenSecundaria figure figcaption a {
  text-decoration: none;
  font-weight: bold;
}

#encabezado header nav ul{
	list-style: none;
}

#encabezado header nav ul li{
	text-transform: capitalize;
	display: inline-block;
	float: left;
	padding: 4%;
}

#encabezado header nav a:link {
	color: white;
}

#encabezado header nav a:hover, #imagenSecundaria figure figcaption a {
  color: #02010a;
}

.actual {
	color: #02010a; 
}

.noActual {
	color: white;
}

/* Contenido */
#imagenCentral {
	background-color: #82c3a6;
	flex: center;
	padding: 4%;
}

#imagenCentral figure img {
	width: 70%;
	box-shadow: 2px 2px 2px #02010a;
}

#imagenSecundaria {
	background-color: #d5c75f;
	display: flex;
	padding: 4%;
}

#imagenSecundaria figure img {
	width: 60%;
	box-shadow: 2px 2px 2px #02010a;
}

#imagenSecundaria figure figcaption{
	padding: 2%;
	font-weight: bold;	
	text-decoration: underline;
	text-align: center;
}

#imagenSecundaria figure figcaption a:link {
	color: #02010a;	
}

#galeria1,#galeria2 {
	background-color: #d5c75f;
	padding: 4%;
	display: flex;
}

#imagen2:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;	
}
	
#imagen3:hover {
	transform: translate(20px, -10px);;
	box-shadow: 2px 2px 2px #82c3a6;	
}

#imagen4,#imagen5,#imagen6,#imagen7,#imagen8,#imagen9 {
	box-shadow: 2px 2px 2px #02010a;
	width: 80%;
}

#imagen4{
	-webkit-filter:blur(10px);
	filter: blur(10px);
}

#imagen5, #imagen7,#imagen9{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

#imagen6{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}


/* Pie de página */
#piePagina footer{
	padding: 2%;
	background-color: #C6d5c5;
	border: 1px solid #02010a;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	justify-content: space-around;
}

/* animación */
@-webkit-keyframes slidein {
	0%{
		margin-top: 150%;
	}
	60%{
		margin: : -5%;
	}
	100% {
		margin: 0%;
	}
}

/* Responsivo */
@media screen and (max-width: 900px) {
	#encabezado header{
		height: 150px;
		width: 100%;
	}

	#encabezado header h1{
		text-align: center;
	}

	#encabezado header nav{
		display: inline;
		width: 80%;
	}

	#encabezado header nav ul li{
		text-align: center;
	}

	#imagenCentral  {
		display: block;
	}	
	#imagenSecundaria {
		display: block;
	}
	#cuerpo {
		width: 100%;
	}
	#imagenCentral figure img {
		width: 100%;
	}
	#imagenSecundaria figure img {
		width: 100%;
	}
	#galeria1,#galeria2 {
		display: block;
	}
	#imagen4,#imagen5,#imagen6,#imagen7,#imagen8,#imagen9 {
		width: 100%;
		background-color: #d5c75f;
		padding: 10px;
	}
	#piePagina footer{
		display: block;
		width: 100%;
	}
	#piePagina footer div {
		padding: 10px;
	}

}

